{% extends "base.html" %}
{% block content %}
  <div class="container mt-4">
    <h2>Ogłoszenia</h2>
    {% if user.is_authenticated %}
      <a href="{% url 'create_announcement' %}" class="btn btn-success mb-3">Utwórz ogłoszenie</a>
    {% endif %}
    <h2>lista ogłoszeń</h2>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Tytuł</th>
            <th>Cena</th>
            <th>Lokalizacja</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Data dodania</th>
            <th>Akcje</th>
            <th>Kategorie</th>
        </tr>
    </thead>
    <tbody>
        {% for announcement in announcements %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ announcement.title }}</td>
            <td>{{ announcement.price }}</td>
            <td>{{ announcement.location }}</td>
            <td>{{ announcement.brand }}</td>
            <td>{{ announcement.model }}</td>
            <td>{{ announcement.date_added }}</td>
           <td>
                <a href="{% url 'announcement_detail' announcement.pk %}" class="btn btn-info">szczegóły</a>
                {% if user.is_authenticated %}
                {% if announcement.user == user or user.is_superuser %}
                    <a href="{% url 'edit_announcement' announcement.pk %}" class="btn btn-warning">edytuj</a>
                {% endif %}
            {% endif %}
            </td>
            <td>
                {% for category in announcement.categories.all %}
                    <span class="badge badge-primary">{{ category.name }}</span>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
  </div>
{% endblock %}