<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Django App
      {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  rel="stylesheet" />
  <style>
.navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

  </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Motolink</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Strona Główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'announcements' %}">Ogłoszenia</a>
        </li>

      </ul>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0 align-items-center">
        {% if user.is_authenticated %}
          <li class="nav-item mr-2">
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button class="btn btn-outline-danger" type="submit">Wyloguj</button>
            </form>
          </li>
          <li class="nav-item">
            <span class="navbar-text ml-2" style="margin-left: 30px;"> Dzień dobry, {{ user.username }}</span>
          </li>
        {% else %}
          <li class="nav-item mr-2">
            <a class="btn btn-outline-primary" style="margin-left: 10px;" href="{% url 'login' %}">Zaloguj</a>
          </li>
          <li class="nav-item mr-2">
            <a class="btn btn-primary" style="margin-left: 20px;" href="{% url 'register' %}">Zarejestruj</a>
          </li>
          <li class="nav-item">
            <span class="navbar-text ml-2" style="margin-left: 30px;">Użytkownik wylogowany</span>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

    <div class="container">{% block content %} {% endblock %}</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" ></script>
  </body>
</html>
