<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Django App
      {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Motolink</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Strona Główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Ogłoszenia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Kontakt</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
        {% if user.is_authenticated %}
          <li class="nav-item me-2">
            <form action="{% url 'logout' %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button class="btn btn-outline-danger" type="submit">Wyloguj</button>
            </form>
          </li>
          <li class="nav-item">
            <span class="navbar-text ms-2"> Welcome {{ user.username }}</span>
          </li>
        {% else %}
          <li class="nav-item me-2">
            <a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item me-2">
            <a class="btn btn-primary" href="{% url 'register' %}">Register</a>
          </li>
          <li class="nav-item">
            <span class="navbar-text ms-2">User logged out</span>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

    <div class="container">{% block content %} {% endblock %}</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" ></script>
  </body>
</html>
